<p align="center">
<a href="https://www.crawl-survival.com/">
<img src="https://www.crawl-survival.com/assets/standard.gif?raw=true" alt="Crawl Custom Survival Wiki"></a>
<h1 align="center">Crawl Custom Survival Server</h1></p>
<h2 align="center">play.crawl-survival.com</h2>
<p align="center">
<a href="https://www.crawl-survival.com">Cover Page</a>
·
<a href="https://www.crawl-survival.com/wiki/">Wiki Page</a>
·
<a href="https://discord.gg/7e7ZK4g">Discord</a>
·
<a href="https://www.crawl-survival.com/issues/">Issue Tracker</a>
·
<a href="https://www.crawl-survival.com/wiki/#server-status">Server Status</a>
</p>
