<!DOCTYPE html>
<html>
<style>

.bg-image {
  /* The image used */
  background-image: url("https://crawl-survival.com/assets/background.png");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

<p align="center">
  <a href="https://www.crawl-survival.com/">
    <img src="https://www.crawl-survival.com/assets/standard.gif?raw=true" alt="Crawl Custom Survival Wiki">
  </a>

  <div class="bg-image"></div>

  <h1 align="center">Crawl Custom Survival Wiki</h1>
  <a href="https://crawl-survival.com">
  <h2 align="center"><em>play.crawl-survival.com</em></h2>
  </a>
  <p align="center">
    <br>
    <a href="https://www.crawl-survival.com/wiki/#hero-commands">Commands</a>
     ·
    <a href="https://www.crawl-survival.com/wiki/#craftable-spells">Craftable Spells</a>
     ·
	<a href="https://www.crawl-survival.com/wiki/mobs-artifacts/">Mobs & Artifacts</a>
	 ·
    <a href="https://www.crawl-survival.com/wiki/#server-status">Server Status</a>
  </p>
</p>